<html>
  <head>
  </head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Badi Coding Challenge</title>
  </head>
  <body>
    <div style="background: url(https://user-images.githubusercontent.com/4199523/33260366-e54216aa-d35f-11e7-8442-8d9e1cd67d88.jpg); background-size: cover; height: 100%; width: 100%; ">
      <div >
        <h2 style="text-align: center; color: white; font-size: 30px">
        Badi Coding Challenge - Backend (Ruby on Rails)
        </h2>
      </div>
      <div style="font-size: 30px; margin-top: 200px; margin-left: 50px;">
        <a href="https://github.com/juandigt/Zombie-challenge" style="color: white; ">
          <i class="fab fa-github"></i> Go to Github Repo
        </a>
      </div>
    </div>
  </body>
</html>
